:root {
  --font-sans: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

  --slate-900: rgb(15 23 42);
  --slate-600: rgb(71 85 105);
  --slate-400: rgb(148 163 184);
  --slate-300: rgb(203 213 225);
  --slate-50: rgb(248 250 252);
}

body {
  font-family: var(--font-sans);
  background-color: var(--slate-50);
}

main > .wrapper {
  max-width: 1080px;
  margin: 0 auto;
  display: flex;
}

.left {
  background-image: url("./assets/bg-img.jpg");
}
