:root {
  --font-sans: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

  --slate-900: rgb(15 23 42);
  --slate-600: rgb(71 85 105);
  --slate-400: rgb(148 163 184);
  --slate-300: rgb(203 213 225);
  --slate-50: rgb(248 250 252);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-sans);
  background-color: var(--slate-50);
}

main > .wrapper {
  max-width: 1280px;
  min-height: 100vh;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content-block {
  height: min(100vh, 1280px);
  width: 100%;
}

#left {
  padding: 25px;
  flex: 1;
}

.picture {
  height: 100%;
  background-image: url('../assets/bg-img.jpg');
  border-radius: 10px;
  position: relative;
}

.copyright {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translate(-50%, 0);

  color: white;
  font-size: 0.75rem;
}

.copyright a {
  color: white;
}

#right {
  flex: 1.5;
  padding: 25px;
}

.text-box {
  margin-bottom: 50px;
}

.text-box h1 {
  color: var(--slate-900);
  font-size: 2rem;
}

.text-box p {
  color: var(--slate-600);
  line-height: 1.5;
}

.text-box p + p {
  margin-top: 10px;
}

form .wrapper {
  border: 1px solid var(--slate-400);
  border-radius: 10px;
  padding: 25px;
}

label,
input {
  display: block;
}

label {
  color: var(--slate-900);
  margin-bottom: 5px;
}

input {
  border: 1px solid var(--slate-400);
  border-radius: 2.5px;
  color: var(--slate-900);
  margin-bottom: 10px;
  padding: 5px 5px;
}

button {
  border: 1px solid var(--slate-400);
  border-radius: 2.5px;
  background-color: var(--slate-600);
  color: var(--slate-50);
  cursor: pointer;
  margin-top: 50px;
  padding: 10px 25px;
}

button:hover {
  border: 1px solid var(--slate-600);
  background-color: var(--slate-50);
  color: var(--slate-900);
}
